<ion-tabs>
    <ion-tab label="l1p1" icon="navigate" href="/tab1/level1/(ol1p1:pl1p1)">
        <ion-router-outlet name="ol1p1"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="l1p2" icon="person" href="/tab1/level1/(ol1p2:pl1p2)">
        <ion-router-outlet name="ol1p2"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="l1p3" icon="bookmarks" href="/tab1/level1/(ol1p3:pl1p3)">
        <ion-router-outlet name="ol1p3"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="level2" icon="settings" href="/tab2/level2/(ol2p1:pl2p1)">
    </ion-tab>
</ion-tabs>
