<ion-tabs>
    <ion-tab label="l3p1" icon="navigate" href="/tab3/level3/(ol3p1:pl3p1)">
        <ion-router-outlet name="ol3p1"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="l3p2" icon="person" href="/tab3/level3/(ol3p2:pl3p2)">
        <ion-router-outlet name="ol3p2"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="l3p3" icon="bookmarks" href="/tab3/level3/(ol3p3:pl3p3)">
        <ion-router-outlet name="ol3p3"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="level1" icon="home" href="/tab1/level1/(ol1p1:pl1p1)">
    </ion-tab>
</ion-tabs>
